<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content create</title>
</head>
<body>
    <h2>컨텐츠 생성</h2>
    <form action="/contents/new" method="post">
        <div class="form-group">
            <p>유튜브 아이디</p>
            <input id="videoID" name="videoID" type="text">
            <p>강의 제목</p>
            <input id="title" name="title" type="text">
            <p>작성자</p>
            <input id="writer" name="writer" type="text">
            <p>상세설명</p>
            <input id="detail" name="detail" type="text">
            <p>해시태그 설정</p>
            <input id="hashtag" name="hashtag" type="text">
        </div>
    </form>
</body>
</html>